{% extends "layout.html" %}
{% block body %}
  <div id="item-new" class="container">
    <div class="jumbotron">
      <h1>수정 불가 삭제 불가</h1>
      <p>
        기본 배정일인 다음날까지 배정이 되지 않으면<br />
        자동으로 배정일이 하루 늘어난다
        </p>
    </div>

    <form id="item-new-form" method="POST" action="{{ url_for('web.item_new') }}" enctype="multipart/form-data">

      <div id="item-new-error" class="alert alert-danger fade hidden"></div>

      <div class="item-new-photo-wrap pull-left">
        <img id="item-new-photo"></img>
        <div class="btn btn-default item-new-file-wrap">
          <span>사진 선택</span>
        </div>
        <input id="item-new-file" type="file" name="photo" accept="image/*"></input>
      </div>

      <div class="item-new-input-wrap">
        <div class="form-group">
          <label for="item-new-name">이름(*):</label>
          <input id="item-new-name" class="form-control" name="name"></input>
        </div>

        <div class="form-group">
          <label for="item-new-description">참고사항:</label>
          <textarea id="item-new-description" class="form-control" name="description"></textarea>
        </div>

        <button id="item-new-submit" class="btn btn-primary pull-right">등록하기</button>
      </div>
    </form>
  </div>
{% endblock %}
